.close {
  display: inline-block;
  position: relative;
  right: 2em;
  top: 0.5em;
  width: 0px;
  opacity: 0.3;
  &:hover {
   opacity: 1;
  }
  &:before, &:after {
    position: absolute;
    left: 15px;
    content: ' ';
    height: 33px;
    width: 3px;
    background-color: white;
  }
  &:before {
    transform: rotate(45deg);
  }
  &:after {
    transform: rotate(-45deg);
  }
}

.forumsPage {
  width: 100%;
  text-align: center;
}

h1 {
  display: inline;
}

table {
  margin-bottom: 1em;
  border-collapse: collapse;
  background-color: rgba(0, 0, 255, 0.63);
  text-align: left; // overrides .forumsPage {text-align: center;}
}

th, td {
  padding: 8px;
}

tr {
  &:nth-child(even) {
    // background-color: rgb(0, 0, 255);
  }
}

tr:not(:first-child) {
  cursor: pointer;
  box-shadow: inset 0px 0px 0px 1px white !important;
  &:hover {
    color: black;
    background-color: white;
    box-shadow: inset 0px 0px 0px 1px red !important;
  }
}