/* Add application styles & imports to this file! */
html {
  background-image: url("https://media.wired.com/photos/5a3b06d615e73c599bf95533/master/w_2400,c_limit/city-TA.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; 

  -ms-overflow-style: none;  // IE 10+
  scrollbar-width: none;  // Firefox
  &::-webkit-scrollbar { 
    display: none;  // Safari and Chrome
  }
}

body {
  color: white;
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  padding-right: 17px; /* Increase/decrease this value for cross-browser compatibility */
  box-sizing: content-box; /* So the width will be 100% + 17px */
  background: transparent;
}

input {
  border-radius: 0 !important;
  border: 1px solid white !important;
  &:hover{
    border: 1px solid red !important;
  }
  &:focus{
    outline-style: none;
    outline-color: red;
    box-shadow: 0px 0px 0px 1px red !important;
  }
}

a {
  &:hover {
    text-decoration: none;
  }
}

.btn {
  border-radius: 0;
  background-clip: border-box;
  &:hover {
    border: 1px solid red !important;
  }
  &:focus {
    box-shadow: 0px 0px 0px 1px red !important;
  }
}

$cityColor: aqua;
$countyColor: violet;
$stateColor: white;

.tag {
  display: inline-block;
  font-size: 12px;
  font-weight: bold;
  border-radius: 5px;
  border: 1px solid white;
  width: 45px;
  text-align: center;
  margin: 5px;
}

.city {
  color: $cityColor;
  border: 1px solid $cityColor;
}

.county {
  color: $countyColor;
  border: 1px solid $countyColor;
}

.state {
  color: $stateColor;
  border: 1px solid $stateColor;
}

$starColor: yellow;
$removeStarColor: red;

.star {
  /* Controlls the size of the stars. */
  font-size: 10px;
  position: relative;
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: .9em;
  margin-right: 1.1em;
  margin-top: .5em;
  margin-bottom: .2em;
  border-right:  .3em solid transparent;
  border-bottom: .7em  solid $starColor;
  border-left:   .3em solid transparent;
  cursor: pointer;

  &:before, &:after {
    content: '';
    
    display: block;
    width: 0;
    height: 0;
    
    position: absolute;
    top: .6em;
    left: -1em;
  
    border-right:  1em solid transparent;
    border-bottom: .7em  solid $starColor;
    border-left:   1em solid transparent;
  
    transform: rotate(-35deg);
  }
  
  &:after {  
    transform: rotate(35deg);
  }
}

.star:hover {
  border-bottom: .7em  solid $removeStarColor;
  &:before, &:after {
    border-bottom: .7em  solid $removeStarColor;
  }
}